h2(style='font-size: 3em; text-align: center; font-family: sans-serif; text-transform: uppercase')= words.question
h1(style='font-size: 18em; text-align: center; font-family: sans-serif; text-transform: uppercase; margin-top: 0')= words.answer
