body {
  text-align: center;
  font-family: sans-serif;
  text-transform: uppercase;
  word-wrap: break-word;
}

h1 {
  font-size: 18em;
}

h2 {
  font-size: 3em;
}

form {
  font-size: 2em;
  font-family: sans-serif;
}

#question, #answer {
  font-size: .5em;
  display: block;
  margin: .5em auto;
}
